<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Investigaciones</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hover-menu" href="index.html">Pharma Corp</a>
            <div class="nav-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Inicio</a></li>
                <li><a href="investigaciones.html">Investigaciones</a></li>
                <li><a href="ingreso.html">Salir</a></li>
               
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      
        <h1>Nueva Investigación</h1>
      
     
      <div class="body-content">

        <form method="POST", action="/investigaciones">
                <label>Identificación</label>
                <input name ="id" type = "number" id ="id">
                <label>Autor</label>
                <input name = "author_name" id="author_name"> 
                <label>Título</label>
                <input name = "title" id="title">
                <label>Descripción</label>
                <textarea name="description" id="description"></textarea>
                <button type="submit" class="btn btn-default">Crear</button>
        </form>



        <footer>
          <p>&copy; Company 2013</p>
        </footer>
      </div>

    </div> <!-- /container -->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>