<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Investigaciones</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand hover-menu" href="/inicio/index">Pharma Corp</a>
            <div class="nav-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/investigaciones/investigaciones">Investigaciones</a></li>
                <li><a href="/reglamentos/reglamentos">Reglamentos</a></li>
                <li><a href="/contacto/contacto">Contacto</a></li>
                <li><a href="/inicio/ingreso">Ingreso</a></li>   
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      
        <h1>Investigaciones</h1>
      
     

      <div class="body-content">


       
    <div class="panel panel-primary">
         <div class="panel-heading">Investigacion 1</div>
         An Active Pharmaceutical Ingredient is any substance or mixture of substances intended to be used in the manufacture of a drug (medicinal) product and that, when used in the production of a drug, becomes an active ingredient of the drug product. Such substances are intended to furnish pharmacological activity or other direct effect in the diagnosis, cure, mitigation, treatment, or prevention of disease or to affect the structure or function of the body. 

    </div>
    <div class="panel panel-primary">
     <div class="panel-heading">Investigacion 2</div>
     An Active Pharmaceutical Ingredient is any substance or mixture of substances intended to be used in the manufacture of a drug (medicinal) product and that, when used in the production of a drug, becomes an active ingredient of the drug product. Such substances are intended to furnish pharmacological activity or other direct effect in the diagnosis, cure, mitigation, treatment, or prevention of disease or to affect the structure or function of the body. 

   </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Investigacion 3</div>
      An Active Pharmaceutical Ingredient is any substance or mixture of substances intended to be used in the manufacture of a drug (medicinal) product and that, when used in the production of a drug, becomes an active ingredient of the drug product. Such substances are intended to furnish pharmacological activity or other direct effect in the diagnosis, cure, mitigation, treatment, or prevention of disease or to affect the structure or function of the body. 

    </div>

        <footer>
          <p>&copy; Company 2013</p>
        </footer>
      </div>

    </div> <!-- /container -->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>