<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reglamentos</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand hover-menu" href="/inicio/index">Pharma Corp</a>
            <div class="nav-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/investigaciones/investigaciones">Investigaciones</a></li>
                <li><a href="/reglamentos/reglamentos">Reglamentos</a></li>
                <li><a href="/contacto/contacto">Contacto</a></li>
                <li><a href="/inicio/ingreso">Ingreso</a></li>   
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
        <h1>Reglamentos</h1>
      
      <div class="body-content">
        <h3>FDA</h3>

        <div style= "margin-top: 15px; margin-bottom: 30px; width: 600px; height: 500px; float:left; margin-right:0px;">

             <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#home">Programas Clínicos</a></li>
          <li><a href="#profile">Estudios Clínicos</a></li>
          <li><a href="#messages">Patentes</a></li>
         <!--  <li><a href="#settings">Settings</a></li> -->
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">


                La U.S. FDA regula los productos de fármacos destinados a ser utilizados en el diagnóstico, cura, mitigación, tratamiento o prevención de enfermedades y destinados a afectar la estructura o cualquier función del cuerpo de los seres humanos o animales. Registrar Corp provee asistencia para Registro, Agente de EE.UU., y Cumplimiento regulatorio para empresas de EE.UU. y extranjeras en la Industria de Fármacos. 
                
                 <a href=" http://www.fda.gov/downloads/Drugs/Guidances/ucm073122.pdf">  Programas clínicos de la FDA</a> 
          </div>
          <div class="tab-pane" id="profile">2</div>
          <div class="tab-pane" id="messages">3</div>
          <div class="tab-pane" id="settings">4</div>
        </div>

        </div>
        <div style="float:right; width:450px; height:500px; margin-left: 10px;">
            
             <div class="container-fluid">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"  >
                              <p style="font-size:13.5px;">
                             Conferencias y Foros
                              </p>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                        <p style="font-size:13.5px;line-height:20px;">
                        
                        Se muestran los foros
                        </p>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      <p style="font-size:13.5px;">
                        Organizaciones Profesionales

                      </p>
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                      <p style="font-size:13.5px;line-height:20px;">
                       Puede consultar las siguientes direcciones para mas información 
                       sobre orgazanizaciones profesionales.
                      </p>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                      <p style="font-size:13.5px;">
                      Revistas Profesionales
                      </p>
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p style="font-size:13.5px;line-height:20px;">
                    Acceso a las revistas
                  </p>
                </div>
              </div>
            </div>
          </div>
    </div><!--fin collapse-->


        </div>

       



        
        <footer style= "clear: both;" >
          <p>&copy; Company 2013</p>
        </footer>
      </div>

    </div> <!-- /container -->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })

    </script>
  </body>
</html>