doctype 5
html
	head
		title Pharma Corp Intranet
		link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
		link(href="/stylesheets/signin.css", rel="stylesheet")
		
	body
		.container
			h2 #{error}

			form.form-signin(method="POST", action="/intranet")
				h2.form-signin-heading Ingrese sus datos
				p: input.form-control(type="email", name="email", placeholder="Correo Eletrónico")
				p: input.form-control(type="password", name="password", placeholder="Contraseña")
				p: button.btn.btn-large.btn-default.btn-block(type="submit") Ingresar