<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pharma Corp Ingreso</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/stylesheets/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Ingrese sus datos</h2>
        <input type="text" class="form-control" placeholder="Correo Eléctronico" autofocus>
        <br/>
        <input type="password" class="form-control" placeholder="Clave">
    
        <button class="btn btn-large btn-default btn-block" type="submit">Entrar</button>
      </form>

    </div> <!-- /container -->

  </body>
</html>